.articles-container{
    position: absolute;
    height: 830px;
    width: 650px;
    border-radius: 10px;
    z-index: 50;
    top: 58px;
    background-color: rgba(242, 242, 242, 0.85);
    padding: 15px 0px 15px 15px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0 3px 30px 10px rgba(0, 0, 0, .25);
}
.articles-container.on-screen {
    right: 30px;
    transition: right 2s;
}

.articles-container.off-screen {
    right: -700px;
    transition: right 2s;
}

.fa-angle-right {
    font-size: 30px;
    color: #505050;
}

.fa-angle-right:hover {
    cursor: pointer;
    color: #C47834;
}

.articles-index-text {
    padding: 10px;
}

.article-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: inherit;
}

.headline {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    letter-spacing: 0.5px;
    text-align: left;
}

/* potential button to open/close article */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.article-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.article-content {
    font-size: 16px;
    width: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.article-content.display {
    width: inherit;
    height: auto;
    max-height: 400px;
    margin-bottom: 10px;
    display: block;
    overflow: visible;
}

.flex-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-chevron-down {
    font-size: 20px;
    padding: 10px;
    color: #505050;
    align-self: flex-start;
}

.fa-chevron-down:hover {
    cursor: pointer;
    color: #C47834;
}

.fa-chevron-down.rotate {
    transform: rotate(180deg);
}

.article-scroll {
    height: 700px;
    overflow: scroll;
    padding-right: 15px;
}

.article-load {
    margin: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.loading {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.article-link {
    font-size: 14px;
}