.articles-container{
    position: absolute;
    height: 830px;
    width: 650px;
    border-radius: 10px;
    z-index: 50;
    top: 58px;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 15px 0px 15px 15px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0 3px 30px 10px rgba(0, 0, 0, .25);
}
.articles-container.on-screen {
    right: 30px;
    transition: right 2s;
}

.articles-container.off-screen {
    right: -670px;
    transition: right 2s;
}

.fa-caret-square-right {
    font-size: 30px;
    color: #505050;
    transition: 0.2s color ease-in-out;
}

.fa-caret-square-right:hover {
    cursor: pointer;
    color: #C47834;
    transition: 0.2s color ease-in-out;
}

.articles-index-text {
    padding: 10px;
}

.article-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: inherit;
    border-bottom: 1px solid #f2f2f2;
}

.headline {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    letter-spacing: 0.5px;
    text-align: left;
    margin-right: 5px;
    flex-grow: 1;
}

.article-image {
    height: inherit;
    object-fit: contain;
    max-width: 200px;
}

/* potential button to open/close article */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.article-content {
    display: none;
    overflow: hidden;
    margin-left: 40px;
    font-size: 16px;
    width: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.article-content.display {
    width: 95%;
    height: auto;
    max-height: 400px;
    margin-bottom: 10px;
    display: block;
    overflow: visible;
}

.flex-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
    margin-top: 10px;
}

/* .no-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 150px;
    margin-top: 10px;
} */

.fa-chevron-down {
    font-size: 20px;
    padding: 10px;
    color: #505050;
    align-self: flex-start;
    transition: 0.2s color ease-in-out;
}

.fa-chevron-down:hover {
    cursor: pointer;
    color: #C47834;
    transition: 0.2s color ease-in-out;
}

.fa-chevron-down.rotate {
    transform: rotate(180deg);
}

.article-scroll {
    height: 700px;
    overflow: scroll;
    padding-right: 15px;
}

.article-load {
    margin: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.loading {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.article-link {
    font-size: 14px;
}

.article-midline {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.attributes {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-left: 45px;
}
.article-icons {
    display: flex;
    font-style: 25px;
}

.article-icons i{
    padding: 10px;
    transition: 0.2s color ease-in-out;
}

.fa-bookmark {
    padding: 10px;
    transition: 0.2s color ease-in-out;
}

.fa-link:hover {
    cursor: pointer;
    color: #C47834;
    transition: 0.2s color ease-in-out;
}
.fa-bookmark:hover {
    cursor: pointer;
    color: #C47834;
    transition: 0.2s color ease-in-out;
}

.italicize {
    font-style: italic;
    margin-left: 5px;
}

.article-text {
    width: 100%;
}

.hide {
    display: none;
}

.copied {
    font-size: 14px;
    color: #C47834;
    margin: 0;
    align-self: center;
}

.no-news {
    text-align: center;
    font-size: 18px;
}