.country-data-container {
    position: absolute;
    height: 600px;
    width: 400px;
    background-color: rgba(242, 242, 242, 0.85);
    border-radius: 10px;
    top: 150px;
    z-index: 50;
    padding: 15px 0px 15px 15px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0 3px 30px 10px rgba(0, 0, 0, .25);
}

.country-data-text {
    /* background-color: #f2f2f2; */
    padding: 10px;
    height: 550px;
}

.container-scroll {
    height: 95%;
    overflow: scroll;
    overflow-y: auto;
    padding-right: 15px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

::-webkit-scrollbar-track:vertical {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fa-caret-square-left {
    font-size: 30px;
    padding: 10px;
    margin-right: 40px;
    color: #505050;
    align-self: flex-start;
    transition: 2s color ease-in-out;
}

.fa-caret-square-left:hover {
    cursor: pointer;
    color: #C47834;
    transition: 2s color ease-in-out;
}

.country-data-container h1 {
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 1.1;
    width: 240px;
}

.country-flag {
    object-fit: cover;
    max-height: 50px;
    width: 60px;
    position: absolute;
    left: 30px;
    margin-right: 15px;
    align-self: center;
}

.o-name {
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid rgb(226, 225, 225);
    padding: 8px;
    margin: 0px;
}

.data-type i {
    margin-right: 4px;
}

.data {
    text-align: right;
}

.country-data {
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px solid rgb(226, 225, 225);
    display: flex;
    justify-content: space-between;
}

.country-data-last {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.country-data-container.on-screen {
    left: 160px;
    transition: left 2s;
}

.country-data-container.off-screen {
    left: -420px;
    transition: left 2s;
}
