/* 
rgb(255,255,101) yellow
rgb(195, 121, 52) orange

rgb(80,80,80) dark like
*/

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}
.no-bookmarks {
  text-align: center;
}
.modal-dialog {
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  /* background-image: url("https://cabins-seeds.s3.amazonaws.com/smooth_stars.gif"); */
  background-position: center;
  max-width: 700px;
  width: calc(100% - 20px);
  margin: 70px auto 0;
  box-shadow: 0 3px 30px 10px rgba(0, 0, 0, .25);
  border-radius: 15px;
  outline: none;
  opacity: 1;
}

.modal-content {
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  overflow: scroll;
  width: inherit;
  overflow: scroll;
  margin-bottom: 20px;
}

/* .modal-content img {
  opacity: .3;
} */

.click {
  margin: 0;
  position: absolute;
  top: 11px;
  left: 210px;
  box-shadow: 0 0 black;
  padding: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  display: block;
  font-size: 14px;
  transform: rotate(-25deg);
  color: #C47834;
}

.pointer {
  margin: 0;
  position: absolute;
  top: 0px;
  right: 434px;
  padding: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  width: 34px;
  transform: rotate(160deg);
}

#hello:hover + .pointer {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}



#hello {
  color: #C47834;
  text-align: center;
  font-family: 'Codystar', cursive;
  font-size: 45px;
  margin: 10px 0 0 0;
  line-height: 1;
  padding-left: 20px;
}

#hello:hover {
  cursor: pointer;
}

#user-id {
  color: #C47834;
  text-align: center;
  font-size: 30px;
  font-family: 'Codystar', cursive;
  margin: 0;
  padding-left: 20px;
}