#chartdiv {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #1a1a1a;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Peddana', serif;
    font-size: 18px;
    text-align: center;
}

.navbar-spacer {
    height: 50px;
    width: 100%;
    z-index: 10;
}

.navbar-container {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.search-bar-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-input-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: visible;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.2s;
    padding: 0 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
.space-shuttle-container {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 13px;
    opacity: 100;
    transition: opacity 0.3s;
    transition-delay: 0s;
}
.space-shuttle-container.dropped {
    opacity: 0;
    animation: travel 5s ease;
    transition-delay: 1s;
}
@keyframes travel {
    0% {
        transform: translateY(0%) translateX(0%);
    }
    /* 50% {
        transform: translateY(300%) translateX(-550%) rotate(-100deg);
    } */
    /* 100% {
        transform: translateY(400%) translateX(-1000%) rotate(-200deg);
    } */
    100% {
        transform: translateX(-8000%)
    }
}



.search-bar-input-container input {
    border-radius: 20px;
    outline: none;
    border: none;
    background-color:  #e6e6e6;
    text-indent: 40px;
}
.search-bar-input-container.dropped {
    box-shadow: 0 0 3px black;
    position: absolute;
    min-height: 50px;
    top: 0px;
}
.search-bar-input {
    width: 500px;
    height: 40px;
    font-size: 20px;
}

.search-dropdown {
    padding: 6px;
}

.search-dropdown .search-result {
    padding: 11px 5px;
    font-size: 20px;
    font-weight: 570;
    border-radius: 10px;
    transition: background-color 0.2s;
    text-indent: 20px;
}

.search-dropdown .search-result:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.hidden {
    display: none;
}

body, ul, li, div {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}