.main-page {
    position: relative;
    overflow: hidden;
}
g {
    font-family: Helvetica;
}
#chartdiv {
    width: 100%;
    padding: 10px 0;
    height: calc(100vh - 60px);
    background-color: #1a1a1a;
    box-sizing: border-box;
    font-family: 'Peddana', serif;
    font-size: 18px;
    text-align: center;
}

.navbar-spacer {
    height: 60px;
    width: 100%;
    z-index: 10;
}

.navbar-container {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #c97b36;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    z-index: 10000;
}

.nav-title {
    width: 250px;
    font-family: 'Codystar', sans-serif;
    font-size: 30px;
    color: #f2f2f2;
    margin-left: 10px;
}

.search-bar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search-bar-input-container {
    display: flex;
    flex-direction: column;
    overflow: visible;
    box-shadow: 0 0 0 transparent;
    /* transition: box-shadow 0.2s; */
    padding: 3px 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.search-bar-input-container.dropped {
    background-color: white;
    box-shadow: 0 0 3px black;
    position: absolute;
    min-height: 50px;
    top: 0px;
    padding-top: 12px;
}

.space-shuttle-container {
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 13px;
    opacity: 100;
    transition: opacity 0.3s;
    transition-delay: 0s;
}
.space-shuttle-container.dropped {
    opacity: 0;
    animation: travel 2s ease;
    transition-delay: 1s;
}

@keyframes travel {
    0% {
        transform: translateY(0%) translateX(0%);
    }
    100% {
        transform: translateY(-450%)
    }
}

.search-bar-input-container input {
    border-radius: 20px;
    outline: none;
    border: none;
    background-color:  #e6e6e6;
    text-indent: 40px;
}

.search-bar-input {
    width: 500px;
    height: 36px;
    font-size: 20px;
}

.search-dropdown {
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.buffering {
    justify-self: center;
    align-self: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
}
.fa-search {
    animation: buffer 1.5s linear infinite;
}
.search-result-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 5px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 550;
    border-radius: 10px;
    transition: background-color 0.2s;
    text-indent: 20px;
}

.search-result-container:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
img.search-country-flag {
    height: 30px;
    width: 50px;
    object-fit: cover;
}
@keyframes buffer {
    from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(10px) rotate(-360deg)}
}

.hidden {
    display: none;
}

body, ul, li, div {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.show-left, .show-right {
    position: absolute;
    background-color:  white;
    width: 90px;
    height: 80px;
    border-radius: 10px;
    top:5%;
    font-size: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: filter 0.3s, left 1s, right 1s;
    box-sizing: border-box;
    z-index: 50;
    overflow: visible;
}
.show-left:hover, .show-right:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.show-left {
    right: -45px;
    justify-content: flex-end;
    transition: transform 1s linear, background-color 2s ease, height 1s linear, width 1s linear, right 1s linear;
}

.show-right{
    left: -45px;
    transition: transform 1s linear, background-color 2s ease, height 1s linear, width 1s linear, left 1s linear;
}

.show-right.tucked {
    transform: rotate(180deg);
    background-color: transparent;
    height: 0px;
    width: 0px;
    left: 10px;
}

.show-left.tucked {
    transform: rotate(180deg);
    background-color: transparent;
    height: 0px;
    width: 0px;
    right: 10px;
}