.burger-drop:focus {
  border: none;
}

.burger-drop{
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}

.burger-drop-menu {
  position: absolute;
  padding: 10px;
  font-size: 15px;
  right: 20px;
  top: 60px;
  flex-direction: column;
}

.burger-drop-button {
  position: relative;
  outline: none;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: -light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.burger-drop-button.below {
  margin-top: 10px;
}

.logout-button {
  color: #f2f2f2;
  background-color: rgb(200, 0, 0);
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: rgb(255, 0, 0);
  transition: background-color 0.2s ease-in-out;
}

.logout-button i{
  padding-right: 5px;
  transform: rotate(-90deg);
}

.profile-button {
  background-image: url("https://cabins-seeds.s3.amazonaws.com/smooth_stars.gif");
  background-position: center;
}

.profile-button img {
  height: 38px;
  width: 42px;
  filter: invert(1);
}

.profile-button:hover img {
  height: 40px;
  width: 44px;
  filter: invert(1) brightness(3) drop-shadow(0 0 1px rgb(226, 131, 255));
}

.about-button {
  background: rgb(230,230,230);
  background: radial-gradient(circle, rgba(230,230,230,1) 0%, rgba(195,121,52,1) 40%, rgba(80,80,80,1) 100%);
  transition: background 0.5s ease-in-out;
}

.about-button img {
  height: 38px;
  width: 42px;
  filter: invert(0);
  transition: filter 0.2s ease-in-out;
}

.about-button:hover {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(195,121,52,1) 100%);
  transition: background 0.5s ease-in-out;
}

.about-button:hover img {
  filter: invert(.7);
  transition: filter 0.2s ease-in-out;
}

.git-button {
  background-color: rgb(80,80,80);
}

.git-button a {
  font-size: 38px;
  color: rgb(195, 121, 52);
  transition: color 0.2s ease-in-out;
  -webkit-text-stroke: 1px #f2f2f2;
}

.git-button:hover a{
  color: #F2B544;
  transition: color 0.2s ease-in-out;
}

@keyframes shine { 
  0% {
      transform:translateX(-100%) translateY(-100%) rotate(30deg);
  }
  80% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
	100% {transform:translateX(100%) translateY(100%) rotate(30deg);}
}

.gradient {
  border-radius: 6px;
  display:flex;
  z-index:0;
  /* overflow:hidden; */
  background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);

  outline: none;
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 2px, /* border */
    inset hsla(0,0%,15%, .8) 0 0px 2px 3px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 1px 0px 4px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  0px 1px 5px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  0px 9px 3px;
  
  transition: color .2s;
}

.burger-drop-button:hover .infos {
  display: block;
}

.infos {
  display: none;
  font-weight: 700;
  position: absolute;
  top: 0px;
  right: 70px;
  top: 5px;
  padding: 3px;
  width: 60px;
  text-align: center;
  background-color: #000;
  color: #c37934;
  border-radius: 5px;
  border: 1px solid #F2B544;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .burger-drop {
      width: 24%;
    }
}