.splash {
    position: absolute;
    width: 100%;
    margin-bottom: -10px;
    z-index: 2;
    letter-spacing: 0.5px;
    color: white;
    background-image: url('https://suro-seeds.s3.amazonaws.com/stars.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}


.header {
    top: 10px;
    margin: 20px;
    text-align: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 90%;
}

.title {
    font-family: 'Codystar', cursive;
    font-size: 60px;
    line-height: 0.5;
    margin: 10px 0px 0px 0px;
    animation: bounce 5s ease infinite alternate;
}
.byline {
    /* font-family: 'Peddana', serif; */
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    font-style: italic;
    /* animation: bounce 5s linear infinite alternate; */
}

@keyframes bounce {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}


.logo {
    height: 100px;
}

.session-form {
    background-color: #1A1D21;
    color: white;
    margin-right: auto;
    margin-left: auto;

    width: 400px;
    height: 600px;
    padding: 40px;
    text-align: center;
}

.credits {
    color: #44484e;
    font-size: 12px;
}


