.splash {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: -10px;
    z-index: 2;
    letter-spacing: 0.5px;
    color: white;
    background-image: url('https://cabins-seeds.s3.amazonaws.com/smooth_stars.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}


.header {
    margin-top: 35px;
    text-align: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.title {
    font-family: 'Codystar', cursive;
    font-size: 60px;
    line-height: 0.5;
    margin: 10px 0px 0px 0px;
    animation: bounce 5s ease infinite alternate;
    transition: opacity 5s ease 1s;
    opacity: 0;
}
.title.fade-in {
    opacity: 100;
}
.byline {
    /* font-family: 'Peddana', serif; */
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    font-style: italic;
    opacity: 0;
    transition: opacity 2s;
    /* animation: bounce 5s linear infinite alternate; */
}
.byline.fade-in {
    opacity: 100;
}
@keyframes bounce {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.splash-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.splash-info {
    background-color: rgba(26, 29, 33, 0.8);
    font-family: 'Tomorrow', sans-serif;
}

.logo {
    height: 100px;
}

.session-container {
    /* background-color: #1A1D21; */
    background-color: rgba(26, 29, 33, 0.8);
    color: white;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
    text-align: center;
}

.credits {
    font-family: 'Tomorrow', sans-serif;
    color: #44484e;
    font-size: 12px;
}


